<div class="big-home-text">
    <h2>
        Сайт разработан в некоммерческих целях. 
    </h2>
    <p>
        <h2>
            Проект предназначен для упрощения доступа к промокодам, без открывающихся рекламных вкладок и тп.
        </h2>
    </p>
    <h2>
        Идеи и замечания принимаются на вкладке "Обратная связь".
    </h2>
</div>


<p class="aligncenter">
    <img class="img-my" src="~/images/ChiliAbout.jpg" width="1200 vw" alt="PepperChili" asp-append-version="true"/>
</p>