@if((string)TempData["ShowSuccses"] == "Ok")
	{
		<script>alert('Сообщение успешно отправлено!')</script>
	}

	<p class="aligncenter">
		<img class="img-my" src="~/images/peperChili.jpg" width="1200vw" alt="Pepper" asp-append-version="true"/>
	</p>

		<h2 class="big-home-text">Сайт предназначен для быстрого и удобного поиска актуальных промокодов.</h2>
	<p>
		<h2 class="big-home-text">Перейдите на интересующую Вас площадку и наслаждайтесь актуальными промокодами без рекламы, без регистрации и СМС.</h2>
	</p>
		<h2 class="big-home-text">Промокоды обновляются каждые 15 минут.</h2>