<div class="big-text" id="Marketplace">
    <h1>Маркетплейсы:</h1>
    <p></p>
    <p><a asp-controller="Promocodes" asp-action="Ozon">Ozon</a></p>
    <p><a asp-controller="Promocodes" asp-action="KazanExpress">KazanExpress</a></p>
    <p><a asp-controller="Promocodes" asp-action="Wildberries">Wildberries</a></p>
    <p><a asp-controller="Promocodes" asp-action="Aliexpress">AliExpress</a></p>
    <hr />
</div>

<div class="big-text" id="Meal">
    <h1>Доставка Продуктов:</h1>
    <p></p>
    <p><a asp-controller="Promocodes" asp-action="Sbermarket">Сбермаркет</a></p>
    <p><a asp-controller="Promocodes" asp-action="Samokat">Самокат</a></p>
    <p><a asp-controller="Promocodes" asp-action="Lenta">Лента Онлайн</a></p>
    <p><a asp-controller="Promocodes" asp-action="YandexLavka">Яндекс.Лавка</a></p>
    <p><a asp-controller="Promocodes" asp-action="DeliveryClub">Delivery Club</a></p>
    <p><a asp-controller="Promocodes" asp-action="YandexEda">Яндекс.Еда</a></p>
    <hr />
</div>

<div class="big-text" id="Eda">
    <h1>Доставка Еды:</h1>
    <p></p>
    <p><a asp-controller="Promocodes" asp-action="DeliveryClub">Delivery Club</a></p>
    <p><a asp-controller="Promocodes" asp-action="YandexEda">Яндекс.Еда</a></p>
    <p><a asp-controller="Promocodes" asp-action="Dodo">Додо Пицца</a></p>
    <p><a asp-controller="Promocodes" asp-action="PapaJons">Папа Джонс</a></p>
    <p><a asp-controller="Promocodes" asp-action="KFC">KFC</a></p>
</div>
