<!DOCTYPE HTML>
<html>
<head>
	<title>@ViewBag.Title</title>
	@await Html.PartialAsync("MetaTagsPartial")
	@await Html.PartialAsync("CssPartial")

</head>
<body class="no-sidebar is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		@await Html.PartialAsync("HeaderPartial")

		<!-- Main -->
		<div id="main" class="wrapper style2">
			<div class="title">@ViewBag.Text</div>
			<div class="container">

				<!-- Content -->
				<div id="content">
					@RenderBody()
				</div>

			</div>
		</div>

		<!-- Footer -->
		@await Html.PartialAsync("FooterPartial")

	</div>

	<!-- Scripts -->
	@await Html.PartialAsync("ScriptsPartial")

</body>
</html>
