<section id="header" class="wrapper">

	<!-- Logo -->
	<div id="logo">
		<h1><a asp-area="Admin" asp-controller="Hangfire" asp-action="Index">Pepper Parser</a></h1>
		<p>A free parser of promocodes</p>
	</div>

	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a asp-area="Admin" asp-controller="Hangfire" asp-action="Index">Админ-панель</a></li>
			<li><a href="~/dashboard">Dashboard</a></li>
			<li><a asp-area="Admin" asp-controller="Hangfire" asp-action="UpdateDb">Запустить создание/обновление задачи</a></li>
			<li><a asp-area="Admin" asp-controller="Hangfire" asp-action="ListOfPromocodes">Посмотреть все промокоды из БД</a></li>
			<li><a asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a></li>
		</ul>
	</nav>

</section>