<div class="big-home-text">
    <h2 class="aligncenter">Донаты принимаются на:</h2>
    <p>
        <h2>ЮCard: 2204 1201 0345 5776</h2>
        <h2>ЮMoney: 4100 1179 5050 6401</h2>
    </p>
</div>

<p class="aligncenter">
    <img class="img-my" src="~/images/ChiliDonate.jpg" width="1200vw" alt="PepperChili" asp-append-version="true"/>
</p>